@model RIS.Models.Group

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>@RIS.Resources.Res.groupDetails</title>

<div style="margin-top:1%">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <center>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.num)
            <h2>@RIS.Resources.Res.groupDetails</h2>


            <div style="margin-top:3px;background-color:white;width:600px;border-radius:4px; padding: 1%;">

                <div class="form-group">

                    <div class="form-group">

                        @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            @Html.LabelForModel(Model.name, new { htmlAttributes = new { } })
                            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">

                        <table width="90%">
                            <tr style="background-color:wheat;">
                                <td>@RIS.Resources.Res.groupPerms</td>
                            </tr>
                        </table>

                        <div class="scroll">

                            <table width="100%">

                                @foreach (var item in ViewBag.pList)
                            {

                            <tr style="background-color: #e9e1d4;">

                                <td style="width: 100%;"> @RIS.Resources.Res.ResourceManager.GetString(item.name) </td>

                            </tr>
                            }


                            </table>
                        </div>
                    </div>



                </div>
            </div>

            <table align="center">
                <tr>
                    <td>
                        <div class="form-group">
                            <div class="btn btn-primary" style="width:250px;">
                                @Html.ActionLink(RIS.Resources.Res.edit.ToString(), "Edit", new { Id = Model.num })
                            </div> |

                            <div class="btn btn-primary" style="width:250px;">

                                @Html.ActionLink(RIS.Resources.Res.backtoGroups, "Index")
                            </div>
                        </div>
                    </td>
                </tr>
            </table>


        </center>
    }
</div>



<script type="text/javascript">
    $(function () {
        $("[id*=chkAll]").click(function () {
            //  alert("checked" + $(this).is(":checked"));
            if ($(this).is(":checked")) {
                $("[name*=gPerms] ").attr("checked", "checked");
            } else {
                $("[name*=gPerms] ").removeAttr("checked");
            }
        });
        $("[name*=gPerms]").click(function () {
            if ($("[name*=gPerms]").length == $("[name*=gPerms]:checked").length) {
                $("[id*=chkAll]").attr("checked", "checked");
            } else {
                $("[id*=chkAll]").removeAttr("checked");
            }
        });
    });
</script>