
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    let activeLink1 = document.querySelector(".navbar ul.navbar-nav li.nav-item button.nav-link#statisticsLink");
    let activeLink2 = document.querySelector(".navbar ul.navbar-nav li.nav-item .dropdown-menu li a.dropdown-item#appStatLink");
    activeLink1.classList.add("active");
    activeLink2.classList.add("active");
</script>

<title>@RIS.Resources.Res.statistics</title>
<div style="height:100%; width:100%">
    <section class="our_team" style="margin-top:120px;">
        <center>
            <div class="team" style="margin-top: -205px;">


                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">



                            <div class="person">
                                <a href="@Url.Action( "AppsStatics","AppStatistics", new {})" title="@RIS.Resources.Res.appsSt">

                                    <img src="~/assets/img/os.png" alt="@RIS.Resources.Res.navUse" style="width:150px;height:150px;">
                                    <br />
                                    <center>  <strong style="font-size:larger; color:black;">     @RIS.Resources.Res.appsSt</strong></center>
                                </a>
                            </div>

                        </div>




                        <div class="col-lg-6">



                            <div class="person">
                                <a href="@Url.Action( "AppPatientStatics","AppStatistics", new {})" title="@RIS.Resources.Res.patStat">

                                    <img src="~/assets/img/ps.png" alt="@RIS.Resources.Res.navMod" style="width:150px;height:150px;">
                                    <br />
                                    <center>
                                        <strong style="font-size:larger; color:black;">
                                            @RIS.Resources.Res.patStat
                                        </strong>
                                    </center>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </center>
    </section>


</div>


