
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    let activeLink1 = document.querySelector(".navbar ul.navbar-nav li.nav-item button.nav-link#orderLink");
    let activeLink2 = document.querySelector(".navbar ul.navbar-nav li.nav-item .dropdown-menu li a.dropdown-item#scheduleLink");
    activeLink1.classList.add("active");
    activeLink2.classList.add("active");
</script>

<div style="margin-top: 120px;">
    <h2 class="main-title">@RIS.Resources.Res.mnmRadiologyCalendar</h2>
    <div class="d-flex justify-content-center align-items-center flex-column">
            <div class="alert alert-danger w-50 alert-dismissible fade show" role="alert" id="mnmAlert" style="display: none;">
                <i class="fa fa-warning me-3"></i> @RIS.Resources.Res.mnmAlert
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="alert alert-danger w-50 alert-dismissible fade show" role="alert" id="mnmAlert1" style="display: none;">
                <i class="fa fa-warning me-3"></i> @RIS.Resources.Res.mnmAlert1
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <table style="overflow-y: scroll;">
                <tr>
                    <td>
                        <input type="text" id="mnmfrom" class="form-control flatpickr" name="mnmfrom" placeholder="@RIS.Resources.Res.mnmSince" />
                    </td>
                    <td>
                        <input type="text" id="mnmto" class="form-control flatpickr" name="mnmto" placeholder="@RIS.Resources.Res.mnmTo" />
                    </td>
                    <td>
                        <select class="form-control" id="mmnmModality">
                            <option value="">@RIS.Resources.Res.mnmChoMod</option>
                            @{
                                foreach (var m in ViewBag.Modalities)
                                {
                                    <option value="@m.num"> @m.name </option>
                                }
                            }
                        </select>
                    </td>
                    <td>
                        <select id="calStep" class="form-control" onchange="drawCalender()">
                            <option value="10">10 @RIS.Resources.Res.mnmMin</option>
                            <option value="15">15 @RIS.Resources.Res.mnmMin</option>
                            <option value="20">20 @RIS.Resources.Res.mnmMin</option>
                            <option value="30">30 @RIS.Resources.Res.mnmMin</option>

                        </select>
                    </td>
                    <td>
                        <button type="button" class="btn search-o-btn icon-btn" onclick="drawCalender()">
                            <span class="fa fa-search"></span>
                        </button>
                    </td>
                </tr>
            </table>
            @*<input type="button" onclick="drawCalender()" />*@
        <center>
            <div id="fastPreview">
                <center>
                    <table>
                        <tr>
                            <td id="mnmFastPat">.</td>
                            @*<td id="mnmFastDat"></td>*@
                        </tr>
                    </table>
                </center>
            </div>
        </center>
    </div>

    <div style="display:none">
        <input type="text" id="mnmSu" value="@RIS.Resources.Res.mnmSun" />
        <input type="text" id="mnmMo" value="@RIS.Resources.Res.mnmMon" />
        <input type="text" id="mnmTues" value="@RIS.Resources.Res.mnmTues" />
        <input type="text" id="mnmWed" value="@RIS.Resources.Res.mnmWed" />
        <input type="text" id="mnmTh" value="@RIS.Resources.Res.mnmTh" />
        <input type="text" id="mnmFr" value="@RIS.Resources.Res.mnmFr" />
        <input type="text" id="mnmSat" value="@RIS.Resources.Res.mnmSat" />
    </div>

    <center>
        <div id="mnmCalenderContaines" style="width:95%;max-height:400px;overflow-x:scroll;overflow-y:scroll;display:none;">
            <fieldset id="mnmCalender">
                <div id="loadingDiv" style="display:none">
                    <center>
                        <b style="font:600">@RIS.Resources.Res.mnmRetrieve</b>
                    </center>
                </div>
            </fieldset>
        </div>
        <div id='myModal' class='modal'>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <center>
                            <h4 class="modal-title" id="myModalLabel">@RIS.Resources.Res.mnmOrderInfo</h4>
                        </center>
                    </div>
                    <center>
                        <div class="modal-body">
                            <p id="mnmPat"></p>
                            <p>@RIS.Resources.Res.mnmCurrentDate</p>
                            <p id="mnmDatOld"></p>
                            @*<p id="mnmDat"></p>*@
                            <p style="display:none">@RIS.Resources.Res.mnmNextDate</p>
                            <input class="form-control flatpickr " style="width: 50%;text-align: center;display:none" id="mnmDat" onchange="enableEdit()" />
                            <input type="text" id="mnmOrderId" style="display:none" />
                        </div>
                    </center>
                    <center>
                        <div class="modal-body" style="display:none">
                            <table>
                                <tr>
                                    <td>
                                        <input type="button" class="btn btn-danger" onclick="deleteOrder()" style="width:100%;background-color:red;border-color:red" value="حذف" />
                                        @*<button class="btn btn-danger" onclick="deleteOrder()" style="width:35%" value="حذف">
                                            </button>*@
                                    </td>
                                    <td>
                                        <input type="button" id="mnmEdit" class="btn btn-default" onclick="editOrder_()" style="width:100%" disabled value="تعديل" />
                                        @*<button id="mnmEdit" class="btn btn-default" onclick="editOrder_()" style="width:35%" disabled value="تعديل">
                                            </button>*@
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </center>
                    <div class="modal-footer">
                        <center>
                            <button class="form-control" onclick="hideMe()" style="width:25%" type="button">
                                <span class="glyphicon"></span>موافق
                            </button>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </center>
</div>

@*<script src="../flatpickr/flatpickr.min.js"></script>*@
@*<link href="../flatpickr/flatpickr.min.css" rel="stylesheet" />*@
<script src="~/Scripts/flatpickr.min.js"></script>
<link href="~/Content/flatpickr.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/mnmCalender.js"></script>
<link href="~/mnmCalender.css" rel="stylesheet" />
