@model RIS.Models.User

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>@RIS.Resources.Res.editMyuser.ToString()</title>
@using RIS.Models;

<div style="margin-top: 150px;">
    <h2 class="main-title">@RIS.Resources.Res.editMyuser.ToString()</h2>
    @{
        bool isAdmin = false;
        string userNm = Html.ValueFor(model => model.username).ToString();
        if (userNm == ConfigVar.adminUser)
        {
            isAdmin = true;
        }
    }

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.num)
        <div class="d-flex justify-content-center align-items-center">
            <div class="outer-div lighting-div">
                <div class="form-horizontal inner-div">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group row mb-3">
                        <h5 style="color:red;" class="my-3 text-center">
                            @TempData["message"]
                            <label id="repeatMsg" class="d-flex justify-content-center align-items-center"></label>
                        </h5>
                        @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "control-label col-md-4 col-md-4 d-flex justify-content-center align-items-center" })
                        <div class="col">
                            @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        @Html.LabelFor(model => model.pass, htmlAttributes: new { @class = "control-label col-md-4 col-md-4 d-flex justify-content-center align-items-center" })
                        <div class="col">
                            @Html.EditorFor(model => model.pass, new { htmlAttributes = new { @class = "form-control", @Type = "password" } })
                            @Html.ValidationMessageFor(model => model.pass, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        <label class="control-label col-md-4 d-flex justify-content-center align-items-center">@RIS.Resources.Res.repeatPass</label>
                        <div class="col">
                            <input type="password" name="repeatPass" id="repeatPass" class="form-control text-box single-line" value="@Model.pass" />
                        </div>
                    </div>

                    @if (Model.language == "ar")
                    {
                        <div class="form-group row mb-3">
                            @Html.LabelFor(model => model.language, htmlAttributes: new { @class = "control-label col-md-4 d-flex justify-content-center align-items-center" })
                            <div class="col">
                                <select name="language" class="form-control">
                                    <option value="ar" selected>العربية </option>
                                    <option value="en">English </option>
                                </select>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-group row mb-3">
                            @Html.LabelFor(model => model.language, htmlAttributes: new { @class = "control-label col-md-4 d-flex justify-content-center align-items-center" })
                            <div class="col">
                                <select name="language" class="form-control">
                                    <option value="ar">العربية </option>
                                    <option value="en" selected>English </option>
                                </select>
                            </div>
                        </div>
                    }
                    <div class="form-group row mb-3">
                        @Html.LabelFor(model => model.firstName, htmlAttributes: new { @class = "control-label col-md-4 d-flex justify-content-center align-items-center" })
                        <div class="col">
                            @Html.EditorFor(model => model.firstName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.firstName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        @Html.LabelFor(model => model.lastName, htmlAttributes: new { @class = "control-label col-md-4 d-flex justify-content-center align-items-center" })
                        <div class="col">
                            @Html.EditorFor(model => model.lastName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.lastName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row pb-3">
                        @Html.LabelFor(model => model.departement, htmlAttributes: new { @class = "control-label col-md-4 d-flex justify-content-center align-items-center" })
                        <div class="col text-center">
                            @Html.HiddenFor(model => model.departement)
                            @Html.ValueFor(model => model.userDepartement.name)
                        </div>
                    </div>
                    <div class="pb-5">
                        <div class="btn create-btn mb-0">
                            <button type="submit" id="Save" onclick="return checkPass();" value=@RIS.Resources.Res.Save>@RIS.Resources.Res.Save</button>
                            <i class="fa fa-save"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<table align="center">
                <tr>
                    <td><input type="submit" id="Save" onclick="return checkPass();" value=@RIS.Resources.Res.Save class="btn btn-default" /></td>
                </tr>
            </table>*@
    }
</div>

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")"></script>

<script type="text/javascript">
    function checkPass() {
        debugger;
        var p = $("#pass").val();
        var p2 = $("#repeatPass").val();

        if (p != p2 || p=="") {
            repeatMsg.innerText = "@RIS.Resources.Res.checkRepPass";
            $("#repeatPass").focus();

            return false;
        }
        else {
            return true;
        }
    };
</script>
