
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    let activeLink1 = document.querySelector(".navbar ul.navbar-nav li.nav-item button.nav-link#statisticsLink");
    let activeLink2 = document.querySelector(".navbar ul.navbar-nav li.nav-item .dropdown-menu li a.dropdown-item#orderStatisticsLink");
    activeLink1.classList.add("active");
    activeLink2.classList.add("active");
</script>

<title>@RIS.Resources.Res.statistics</title>
<div class="container" style="margin-top: 150px;">
    <div class="row mt-5 d-flex justify-content-center align-items-center">
        <div class="col-md-6">
            <a href="@Url.Action("OrdersStatics", "Statistics", new {})" title="@RIS.Resources.Res.ordersSt">
                <div class="person">
                    <img src="~/assets/img/os.png" alt="@RIS.Resources.Res.navUse" style="width:170px;height:170px;" />
                    <div class="main-page-titles">@RIS.Resources.Res.ordersSt</div>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a href="@Url.Action("PatientStatics", "Statistics", new {})" title="@RIS.Resources.Res.patStat">
                <div class="person">
                    <img src="~/assets/img/ps.png" alt="@RIS.Resources.Res.navMod" style="width:170px;height:170px;" />
                    <div class="main-page-titles">@RIS.Resources.Res.patStat</div>
                </div>
            </a>
        </div>
    </div>
</div>
